<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">the faktory</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if current_user %>
          <li class="active"><%= link_to current_user.name, user_path(current_user), :id => 'js-current_user' %></li>
          <li class="active"><%= link_to 'logout', destroy_user_session_path, :method => 'delete' %></li>
        <% else %>
          <li class="active"><%= link_to 'sign in', new_user_session_path %></li>
          <li class="active"><%= link_to 'register', new_user_registration_path %></li>
        <% end %>
        <li class="active"><%= link_to 'users', users_path %></li>
      </ul>
    </section>
  </nav>
</div>
